$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "compass";
@import "burnt";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
  overflow: hidden;
}

/* Space out content a bit */
body {
  padding: 0 100px 0 0;
  @include box-sizing(content-box);
  width: 100%;
  background: url(/images/bg.png);
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  font-family: serif;
  color: #000;
}

.container {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  min-width: 100%;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;
  position: fixed;
  width: 100%;
  z-index: 10;

  /* Masthead */
  h1 {
    @include box-sizing(border-box);
    background: url(/images/banner-top-1024x195.png);
    height: 195px;
    margin: 20px 0 0 0;
    text-align: center;
  }

  /* Nav bar background*/
  .nav-wrapper {
    position: relative;
    background: url(/images/banner-300x57.png);
    height: 57px;
    line-height: 57px;
    @include box-shadow(rgba(black,0.5) 0 20px 20px);
  }

  .navbar-nav {
    li {
      padding: 0 40px;
      font-size: 32px;

      a,a:hover,a:active,a:focus,a:visited {
        background: none;
        @include burnt;
      }
    }
  }
}

/* Justify navbar */
.navbar-nav{
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
  text-transform: uppercase;
}

/* Main view */
[ng-view] {
  @include box-sizing(border-box);
  margin: 0 auto;
  width: 1024px;
  min-height: 1080px;
  padding: 324px 50px 100px;
  background: url(/images/parchment.png);
  font-size: 16px;
  line-height: 1.8em;
  color: #000;
  text-shadow: rgba(#311, 0.3) 0 1px 0.5px;
  text-align: justify;

  a {
    color: #151;
  }

  p {
    margin: 2em 0;
  }
}

div.album {
  @include box-sizing(border-box);
  width: 50%;
  padding: 20px;
}

figure.cover {
  @include box-shadow(rgba(black,0.4) 0 5px 15px 5px);
  position: relative;

  img {
    width: 100%;
  }

  figcaption {
    color: rgba(white,0.8);
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-style: italic;

    a {
      &, &:hover, &:visited, &:focus {
        color: rgba(white,0.8);
        border-bottom: rgba(white,0.8) 1px dotted;
        text-decoration: none;
      }
    }
  }
}

/* Custom page footer */
.footer {
  @include box-sizing(border-box);
  background: url(/images/banner-300x57.png);
  height: 57px;
  line-height: 57px;
  font-size: 24px;
  font-weight: bold;
  @include box-shadow(rgba(black,0.5) 0 20px 20px);
  position: absolute;
  margin-top: -100px;
  width: 100%;
  text-align: center;
  @include burnt;
}

.crooked {
  @include rotate(-1deg);
  max-width: 1000px;
  margin: 0 auto;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
