$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "compass";
@import "burnt";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding: 0;
  background: url(/images/bg.png);
  background-size: cover;
}

/* Everything gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  min-width: 100%;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;

  /* Masthead */
  h1 {
    @include box-sizing(border-box);
    background: url(/images/banner-top-1024x195.png);
    height: 195px;
    margin: 52px 0 0 0;
    text-align: center;
  }

  /* Nav bar background*/
  .nav-wrapper {
    position: relative;
    background: url(/images/banner-300x57.png);
    height: 57px;
    line-height: 57px;
    @include box-shadow(rgba(black,0.5) 0 20px 20px);
  }
}

/* Main view */
[ng-view] {
  @include box-sizing(border-box);
  margin: 0 auto;
  width: 1024px;
  padding: 20px 50px 100px;
  background: url(/images/parchment.png);
}

/* Custom page footer */
.footer {
  @include box-sizing(border-box);
  background: url(/images/banner-300x57.png);
  height: 57px;
  line-height: 57px;
  font-size: 24px;
  font-weight: bold;
  @include box-shadow(rgba(black,0.5) 0 20px 20px);
  position: absolute;
  margin-top: -100px;
  width: 100%;
  text-align: center;
  @include burnt;
}

.crooked {
  @include rotate(-1deg);
  max-width: 1000px;
  margin: 0 auto;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Justify navbar */
  .navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
    font-size: 24px;
    text-transform: uppercase;
  }
}
