<iframe
  width="924"
  height="462"
  src="//www.youtube.com/embed/OuZOfhY0N4k"
  frameborder="0"
  allowfullscreen
></iframe>

<p>
  Aeron’s Wake is an instrumental Celtic metal band born out of the Windsor 
  Ontario metal scene. Traditional vocal and guitar leads are replaced by a 
  versatile seven-string electric violin; the sound stage is filled out by 
  galloping guitar- and bass-driven rhythms, combining the theatrical grandeur of 
  80’s heavy metal and Baroque musics with old timey Celtic and folk influences.
</p>

<p>
  Originally a guitar and violin duo performing at local open mic nights, Aeron's 
  Wake has since grown to a four-member band and made a name for itself as one of 
  the most unconventional acts in the Windsor music scene.
</p>

<p>
  Standing center stage is Toronto-based fiddler and frontman Quinn Strahl, who 
  adds a dash of East Coast fiddling to a lifetime of classical violin 
  training. Quinn shares the spotlight with band co-founder and guitarist 
  Spencer Scurr, the primary creative force behind the band’s composition. 
  Bassist Matt Laforet and drummer Danny Barker provide a percussive 
  exclamation point to the ensemble, and together, the bardic quartet leads the 
  listener on an instrumental journey through struggle and triumph.
</p>
