<div class="left">
  <p>Want to book us, worship us, or tell us how bad we suck?</p>
  <p>Shoot us an email.</p>
  <p>aeronswake@gmail.com</p>
</div>
<iframe src="https://bandcamp.com/EmbeddedPlayer/album=1878544511/size=large/bgcol=000000/linkcol=2ebd35/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://aeronswake.bandcamp.com/album/aerons-wake">Aeron&#39;s Wake by Aeron&#39;s Wake</a></iframe>
<div class="links">
  <a target="_blank" href="//www.facebook.com/pages/Aerons-Wake/196921547007520">
    <img src="/images/facebook.png">
  </a>
  <a target="_blank" href="//www.youtube.com/user/AeronsWake">
    <img src="/images/youtube.png">
  </a>
  <a target="_blank" href="//www.reverbnation.com/aeronswake">
    <img src="/images/reverbnation.gif">
  </a>
</div>
