<div class="album">
  <h3>Aeron's Wake (EP) &mdash; 2013</h3>
  <a href="http://www.amazon.com/Aerons-Wake/dp/B00FN8IF4C">Buy it on Amazon</a>

  <hr>

  <img src="/images/ep_cover.jpg">

  <div>
    <ol>
      <li>
        Battle Cry
        <span class="pull-right">&mdash; <a href="https://drive.google.com/file/d/0B_dLFNLUbi1ZQ1ppQVdUOGtwWTQ/edit?usp=sharing">Download</a></span>
      </li>
      <li>
        Valkyrie
        <span class="pull-right">&mdash; <a href="https://drive.google.com/file/d/0B_dLFNLUbi1Zb0ZzQ1hYYTVBU2s/edit?usp=sharing">Download</a></span>
      </li>
      <li>
        Hero's Bane
        <span class="pull-right">&mdash; <a href="https://drive.google.com/file/d/0B_dLFNLUbi1ZUzNReEJDdnpDTkU/edit?usp=sharing">Download</a></span>
      </li>
      <li>
        Eve of War
        <span class="pull-right">&mdash; <a href="https://drive.google.com/file/d/0B_dLFNLUbi1ZcmZlUzdfd090OTg/edit?usp=sharing">Download</a></span>
      </li>
      <li>
        Tooth and Claw
        <span class="pull-right">&mdash; <a href="https://drive.google.com/file/d/0B_dLFNLUbi1ZcnZlSFVxUVU4czg/edit?usp=sharing">Download</a></span>
      </li>
    </ol>
  </div>
</div>

<p class="text-center">
  We strongly believe in letting everyone listen to our music freely. You can 
  download and listen to all our songs above without giving us a dime.  
  Seriously. Go ahead, we don't mind. If you  absolutely must give us your 
  money, though, you can also buy our music on Amazon. No pressure.
</p>
